mc3/
install_mc3.sh
project.env
slurm_outputs/
outputs/
features/shubert_inference_xiaodan_test.sh
__pycache__/
*.py[cod]
*xiaodan*.*
manifest_files/

# Archivos de compilación de Cython/Python (los que te llenan el VS Code)
*.so
.eggs/
*.egg-info/
build/
dist/

# Checkpoints y logs de entrenamiento
tb/
ckpt/
*.out
*.log
wandb/
.gitignore
